@tailwind base;
@tailwind components;
@tailwind utilities;

.font {
    font-family: Inter, sans-serif;
}

.header-main {
    margin: 0;
    background-color: #FAFAF8;
}

.shadow {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.suggested-recipe-container {
    color: #475467;
    line-height: 28px;
    font-size: 1.125rem;
    font-weight: 400;
}